* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input, 
button {
    font-family: "Poppins", sans-serif;
    font-size: clamp(0.95rem, 2vw, 1.2rem);
}

a {
    text-decoration: none;
}

.login {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(1rem, 3vw, 2rem);
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness();
    position: absolute;
    inset: 0;
}

.login__form {
    position: relative;
    width: min(450px, 100%);
    margin-inline: clamp(0.2rem, 3vw, 1.5rem);
    color: #fff;
    padding: 2rem clamp(1.8rem, 4vw, 2.5rem) ;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: clamp(0.4rem, 2vw, 1rem) ;
    background-color: transparent;
    box-shadow: 0 10px 30px  rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}

.login__title {
    text-align: center;
    font-size: clamp(1.8rem, 4vw, 2rem);
    margin-bottom: clamp(1.5rem, 3vw, 2rem); 
}

.login__inputs, .login__box {
    display: grid;
}

.login__box {
    position: relative;
    margin-bottom: clamp(1.2rem, 3vw, 1.7rem);
}

.login__inputs {
    width: 100%;
    padding: clamp(0.7rem, 2vw, 0.75rem,) 2.5rem clamp(0.5rem, 1vw, 0.5rem,) 0.5rem;
    font-size: clamp(0.9rem, 2vw, 1rem);
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
}

.login__box i {
    position: absolute;
    right: clamp(0.5rem, 1.5vw, 0.75rem);
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
}

.login__check {
    margin-bottom: clamp(0.7rem, 3vw, 1rem);
}

.login__check, .login__check-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(0.8rem, 1.5vw,);
}

.login__check-input {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    accent-color: #000fe4b0
}

.login__forget:hover {
    text-decoration: underline;
}

.login__button {
    width: 100%;
    padding: clamp(0.7rem, 2vw, 0.8rem);
    margin-bottom: 1rem;
    background: #fff;
    border: none;
    border-radius: clamp(0.3rem, 2vw, 0.5rem);
    color: #000;
    font-weight: 600;
    font-size: clamp(0.9rem, 2vw, 1rem);
    cursor: pointer;
    transition-delay: 0.8s;
}

.login__register {
    text-align: center;
    font-size: clamp(0.8rem, 1.5vw, 0.9rem);
}

.login__register {
    color: #fff;
    font-weight: 500;
}

.login__register a:hover {
    text-decoration: underline;
}