* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input, 
button {
    font-family: "Poppins", sans-serif;
    font-size: clamp(0.95rem, 2vw, 1.2rem);
}

a {
    text-decoration: none;
}

.register {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(1rem, 3vw, 2rem);
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness();
    position: absolute;
    inset: 0;
}

.login__form {
    position: relative;
    width: min(450px, 100%);
    margin-inline: clamp(0.2rem, 3vw, 1.5rem);
    color: #fff;
    padding: 2rem clamp(1.8rem, 4vw, 2.5rem) ;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: clamp(0.4rem, 2vw, 1rem) ;
    background-color: transparent;
    box-shadow: 0 10px 30px  rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}

.login__title {
    text-align: center;
    font-size: clamp(1.8rem, 4vw, 2rem);
    margin-bottom: clamp(1.5rem, 3vw, 2rem); 
}

.register__input, .login__box {
    display: grid;
}

.login__box {
    position: relative;
    margin-bottom: clamp(1.2rem, 3vw, 1.7rem);
}

.register__inputs {
    width: 100%;
    padding: clamp(0.7rem, 2vw, 0.75rem,) 2.5rem clamp(0.5rem, 1vw, 0.5rem,) 0.5rem;
    font-size: clamp(0.9rem, 2vw, 1rem);
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    outline: none;
}

.register__box  {
    position: absolute;
    right: clamp(0.5rem, 1.5vw, 0.75rem);
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
}

.login__check, .login__check-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(0.8rem, 1.5vw,);
}

.login__check-input {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    accent-color: #000
}    